name: network_international_payment_sdk
description: "A Flutter plugin to provide an easy-to-use integration for handling payments using N-Genius native SDKs in Flutter applications."
version: 1.4.0
homepage: https://github.com/OmarHasan1996/flutter-network-international-payment-sdk
repository: https://github.com/OmarHasan1996/flutter-network-international-payment-sdk

environment:
  sdk: ^3.10.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.enoc.network_international_payment_sdk
        pluginClass: NetworkInternationalPaymentSdkPlugin
      ios:
        pluginClass: NetworkInternationalPaymentSdkPlugin
